@model ExchangeRateViewModel

<ul>
    @foreach (var (banksExchangeRate, index) in Model.BanksExchangeRates.Select((value, index) => (value, index+1)))
    {
       <li>
           <h2>Banks @index</h2>
           <ol>
                @foreach (var currencyExchangeRate in @banksExchangeRate)
                {
                    <li>(@currencyExchangeRate.CurrencyCode) @currencyExchangeRate.CurrencyName -> buying at @currencyExchangeRate.CurrencyBuying ETB and selling at @currencyExchangeRate.CurrencySelling</li>
                }
           </ol>
        </li>
    }
</ul>